---
Language:                          Cpp
BasedOnStyle:                      LLVM
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations:   Yes
BreakConstructorInitializers:      BeforeComma
BreakInheritanceList:              BeforeComma
PointerAlignment:                  Left
SpacesInContainerLiterals:         false
...

