---
# Disabled checks that are noisy, but may be useful in the future
#   'altera-id-dependent-backward-branch'
#   'altera-struct-pack-align'
#   'altera-unroll-loops'
#   'bugprone-easily-swappable-parameters'
#   'cert-err58-cpp'
#   'cppcoreguidelines-avoid-magic-numbers'
#   'fuchsia-statically-constructed-objects'
#   'misc-no-recursion'
#   'misc-non-private-member-variables-in-classes'
#   'readability-function-cognitive-complexity'
#
# Excluded checks that likely won't be turned back on
#   'fuchsia-default-arguments-calls': This check prevents usage of a large part of the standard library
#   'fuchsia-overloaded-operator':
#   'fuchsia-trailing-return': This check is at odds with the 'modernize-use-trailing-return-type' check
#   'llvm-header-guard': I like the concept of this check, but it vacillates between requiring full and relative paths
#   'llvmlibc-callee-namespace': This check only makes sense for developing LLVM libc
#   'llvmlibc-implementation-in-namespace': This check only makes sense for developing LLVM libc
#   'llvmlibc-restrict-system-libc-headers': There's no need to restrict system headers
Checks:           '*,-altera-id-dependent-backward-branch,-altera-struct-pack-align,-altera-unroll-loops,-bugprone-easily-swappable-parameters,-cert-err58-cpp,-cppcoreguidelines-avoid-magic-numbers,-fuchsia-default-arguments-calls,-fuchsia-overloaded-operator,-fuchsia-statically-constructed-objects,-fuchsia-trailing-return,-llvm-header-guard,-llvmlibc-callee-namespace,-llvmlibc-implementation-in-namespace,-llvmlibc-restrict-system-libc-headers,-misc-no-recursion,-misc-non-private-member-variables-in-classes,-readability-function-cognitive-complexity,-readability-magic-numbers'
HeaderFilterRegex: '\.hpp'
FormatStyle:     file
CheckOptions:
  - key:             readability-identifier-naming.ClassCase
    value:           'lower_case'
  - key:             readability-identifier-naming.FunctionCase
    value:           'lower_case'
  - key:             readability-identifier-naming.LocalPointerSuffix
    value:           '_p'
  - key:             readability-identifier-naming.MemberCase
    value:           'lower_case'
  - key:             readability-identifier-naming.ParameterCase
    value:           'lower_case'
  - key:             readability-identifier-naming.ParameterPrefix
    value:           'p_'
  #- key:             readability-identifier-naming.PrivateMemberCase
  - key:             readability-identifier-naming.PrivateMemberPrefix
    value:           'm_'
  #- key:             readability-identifier-naming.AbstractClassCase
  #- key:             readability-identifier-naming.AbstractClassPrefix
  #- key:             readability-identifier-naming.AbstractClassSuffix
  #- key:             readability-identifier-naming.AbstractClassIgnoredRegexp
  #- key:             readability-identifier-naming.AbstractClassHungarianPrefix
  #- key:             readability-identifier-naming.ClassPrefix
  #- key:             readability-identifier-naming.ClassSuffix
  #- key:             readability-identifier-naming.ClassIgnoredRegexp
  #- key:             readability-identifier-naming.ClassHungarianPrefix
  #- key:             readability-identifier-naming.ClassConstantCase
  #- key:             readability-identifier-naming.ClassConstantPrefix
  #- key:             readability-identifier-naming.ClassConstantSuffix
  #- key:             readability-identifier-naming.ClassConstantIgnoredRegexp
  #- key:             readability-identifier-naming.ClassConstantHungarianPrefix
  #- key:             readability-identifier-naming.ClassMemberCase
  #- key:             readability-identifier-naming.ClassMemberPrefix
  #- key:             readability-identifier-naming.ClassMemberSuffix
  #- key:             readability-identifier-naming.ClassMemberIgnoredRegexp
  #- key:             readability-identifier-naming.ClassMemberHungarianPrefix
  #- key:             readability-identifier-naming.ClassMethodCase
  #- key:             readability-identifier-naming.ClassMethodPrefix
  #- key:             readability-identifier-naming.ClassMethodSuffix
  #- key:             readability-identifier-naming.ClassMethodIgnoredRegexp
  #- key:             readability-identifier-naming.ConstantCase
  #- key:             readability-identifier-naming.ConstantPrefix
  #- key:             readability-identifier-naming.ConstantSuffix
  #- key:             readability-identifier-naming.ConstantIgnoredRegexp
  #- key:             readability-identifier-naming.ConstantHungarianPrefix
  #- key:             readability-identifier-naming.ConstantMemberCase
  #- key:             readability-identifier-naming.ConstantMemberPrefix
  #- key:             readability-identifier-naming.ConstantMemberSuffix
  #- key:             readability-identifier-naming.ConstantMemberIgnoredRegexp
  #- key:             readability-identifier-naming.ConstantMemberHungarianPrefix
  #- key:             readability-identifier-naming.ConstantParameterCase
  #- key:             readability-identifier-naming.ConstantParameterPrefix
  #- key:             readability-identifier-naming.ConstantParameterSuffix
  #- key:             readability-identifier-naming.ConstantParameterIgnoredRegexp
  #- key:             readability-identifier-naming.ConstantParameterHungarianPrefix
  #- key:             readability-identifier-naming.ConstantPointerParameterCase
  #- key:             readability-identifier-naming.ConstantPointerParameterPrefix
  #- key:             readability-identifier-naming.ConstantPointerParameterSuffix
  #- key:             readability-identifier-naming.ConstantPointerParameterIgnoredRegexp
  #- key:             readability-identifier-naming.ConstantPointerParameterHungarianPrefix
  #- key:             readability-identifier-naming.ConstexprFunctionCase
  #- key:             readability-identifier-naming.ConstexprFunctionPrefix
  #- key:             readability-identifier-naming.ConstexprFunctionSuffix
  #- key:             readability-identifier-naming.ConstexprFunctionIgnoredRegexp
  #- key:             readability-identifier-naming.ConstexprMethodCase
  #- key:             readability-identifier-naming.ConstexprMethodPrefix
  #- key:             readability-identifier-naming.ConstexprMethodSuffix
  #- key:             readability-identifier-naming.ConstexprMethodIgnoredRegexp
  #- key:             readability-identifier-naming.ConstexprVariableCase
  #- key:             readability-identifier-naming.ConstexprVariablePrefix
  #- key:             readability-identifier-naming.ConstexprVariableSuffix
  #- key:             readability-identifier-naming.ConstexprVariableIgnoredRegexp
  #- key:             readability-identifier-naming.ConstexprVariableHungarianPrefix
  #- key:             readability-identifier-naming.EnumCase
  #- key:             readability-identifier-naming.EnumPrefix
  #- key:             readability-identifier-naming.EnumSuffix
  #- key:             readability-identifier-naming.EnumIgnoredRegexp
  #- key:             readability-identifier-naming.EnumConstantCase
  #- key:             readability-identifier-naming.EnumConstantPrefix
  #- key:             readability-identifier-naming.EnumConstantSuffix
  #- key:             readability-identifier-naming.EnumConstantIgnoredRegexp
  #- key:             readability-identifier-naming.EnumConstantHungarianPrefix
  #- key:             readability-identifier-naming.FunctionPrefix
  #- key:             readability-identifier-naming.FunctionSuffix
  #- key:             readability-identifier-naming.FunctionIgnoredRegexp
  #- key:             readability-identifier-naming.GlobalConstantCase
  #- key:             readability-identifier-naming.GlobalConstantPrefix
  #- key:             readability-identifier-naming.GlobalConstantSuffix
  #- key:             readability-identifier-naming.GlobalConstantIgnoredRegexp
  #- key:             readability-identifier-naming.GlobalConstantHungarianPrefix
  #- key:             readability-identifier-naming.GlobalConstantPointerCase
  #- key:             readability-identifier-naming.GlobalConstantPointerPrefix
  #- key:             readability-identifier-naming.GlobalConstantPointerSuffix
  #- key:             readability-identifier-naming.GlobalConstantPointerIgnoredRegexp
  #- key:             readability-identifier-naming.GlobalConstantPointerHungarianPrefix
  #- key:             readability-identifier-naming.GlobalFunctionCase
  #- key:             readability-identifier-naming.GlobalFunctionPrefix
  #- key:             readability-identifier-naming.GlobalFunctionSuffix
  #- key:             readability-identifier-naming.GlobalFunctionIgnoredRegexp
  #- key:             readability-identifier-naming.GlobalPointerCase
  #- key:             readability-identifier-naming.GlobalPointerPrefix
  #- key:             readability-identifier-naming.GlobalPointerSuffix
  #- key:             readability-identifier-naming.GlobalPointerIgnoredRegexp
  #- key:             readability-identifier-naming.GlobalPointerHungarianPrefix
  #- key:             readability-identifier-naming.GlobalVariableCase
  #- key:             readability-identifier-naming.GlobalVariablePrefix
  #- key:             readability-identifier-naming.GlobalVariableSuffix
  #- key:             readability-identifier-naming.GlobalVariableIgnoredRegexp
  #- key:             readability-identifier-naming.GlobalVariableHungarianPrefix
  #- key:             readability-identifier-naming.InlineNamespaceCase
  #- key:             readability-identifier-naming.InlineNamespacePrefix
  #- key:             readability-identifier-naming.InlineNamespaceSuffix
  #- key:             readability-identifier-naming.InlineNamespaceIgnoredRegexp
  #- key:             readability-identifier-naming.LocalConstantCase
  #- key:             readability-identifier-naming.LocalConstantPrefix
  #- key:             readability-identifier-naming.LocalConstantSuffix
  #- key:             readability-identifier-naming.LocalConstantIgnoredRegexp
  #- key:             readability-identifier-naming.LocalConstantHungarianPrefix
  #- key:             readability-identifier-naming.LocalConstantPointerCase
  #- key:             readability-identifier-naming.LocalConstantPointerPrefix
  #- key:             readability-identifier-naming.LocalConstantPointerSuffix
  #- key:             readability-identifier-naming.LocalConstantPointerIgnoredRegexp
  #- key:             readability-identifier-naming.LocalConstantPointerHungarianPrefix
  #- key:             readability-identifier-naming.LocalPointerCase
  #- key:             readability-identifier-naming.LocalPointerPrefix
  #- key:             readability-identifier-naming.LocalPointerIgnoredRegexp
  #- key:             readability-identifier-naming.LocalPointerHungarianPrefix
  #- key:             readability-identifier-naming.LocalVariableCase
  #- key:             readability-identifier-naming.LocalVariablePrefix
  #- key:             readability-identifier-naming.LocalVariableSuffix
  #- key:             readability-identifier-naming.LocalVariableIgnoredRegexp
  #- key:             readability-identifier-naming.LocalVariableHungarianPrefix
  #- key:             readability-identifier-naming.MacroDefinitionCase
  #- key:             readability-identifier-naming.MacroDefinitionPrefix
  #- key:             readability-identifier-naming.MacroDefinitionSuffix
  #- key:             readability-identifier-naming.MacroDefinitionIgnoredRegexp
  #- key:             readability-identifier-naming.MemberPrefix
  #- key:             readability-identifier-naming.MemberSuffix
  #- key:             readability-identifier-naming.MemberIgnoredRegexp
  #- key:             readability-identifier-naming.MemberHungarianPrefix
  #- key:             readability-identifier-naming.MethodCase
  #- key:             readability-identifier-naming.MethodPrefix
  #- key:             readability-identifier-naming.MethodSuffix
  #- key:             readability-identifier-naming.MethodIgnoredRegexp
  #- key:             readability-identifier-naming.NamespaceCase
  #- key:             readability-identifier-naming.NamespacePrefix
  #- key:             readability-identifier-naming.NamespaceSuffix
  #- key:             readability-identifier-naming.NamespaceIgnoredRegexp
  #- key:             readability-identifier-naming.ParameterSuffix
  #- key:             readability-identifier-naming.ParameterIgnoredRegexp
  #- key:             readability-identifier-naming.ParameterHungarianPrefix
  #- key:             readability-identifier-naming.ParameterPackCase
  #- key:             readability-identifier-naming.ParameterPackPrefix
  #- key:             readability-identifier-naming.ParameterPackSuffix
  #- key:             readability-identifier-naming.ParameterPackIgnoredRegexp
  #- key:             readability-identifier-naming.PointerParameterCase
  #- key:             readability-identifier-naming.PointerParameterPrefix
  #- key:             readability-identifier-naming.PointerParameterSuffix
  #- key:             readability-identifier-naming.PointerParameterIgnoredRegexp
  #- key:             readability-identifier-naming.PointerParameterHungarianPrefix
  #- key:             readability-identifier-naming.PrivateMemberSuffix
  #- key:             readability-identifier-naming.PrivateMemberIgnoredRegexp
  #- key:             readability-identifier-naming.PrivateMemberHungarianPrefix
  #- key:             readability-identifier-naming.PrivateMethodCase
  #- key:             readability-identifier-naming.PrivateMethodPrefix
  #- key:             readability-identifier-naming.PrivateMethodSuffix
  #- key:             readability-identifier-naming.PrivateMethodIgnoredRegexp
  #- key:             readability-identifier-naming.ProtectedMemberCase
  #- key:             readability-identifier-naming.ProtectedMemberPrefix
  #- key:             readability-identifier-naming.ProtectedMemberSuffix
  #- key:             readability-identifier-naming.ProtectedMemberIgnoredRegexp
  #- key:             readability-identifier-naming.ProtectedMemberHungarianPrefix
  #- key:             readability-identifier-naming.ProtectedMethodCase
  #- key:             readability-identifier-naming.ProtectedMethodPrefix
  #- key:             readability-identifier-naming.ProtectedMethodSuffix
  #- key:             readability-identifier-naming.ProtectedMethodIgnoredRegexp
  #- key:             readability-identifier-naming.PublicMemberCase
  #- key:             readability-identifier-naming.PublicMemberPrefix
  #- key:             readability-identifier-naming.PublicMemberSuffix
  #- key:             readability-identifier-naming.PublicMemberIgnoredRegexp
  #- key:             readability-identifier-naming.PublicMemberHungarianPrefix
  #- key:             readability-identifier-naming.PublicMethodCase
  #- key:             readability-identifier-naming.PublicMethodPrefix
  #- key:             readability-identifier-naming.PublicMethodSuffix
  #- key:             readability-identifier-naming.PublicMethodIgnoredRegexp
  #- key:             readability-identifier-naming.ScopedEnumConstantCase
  #- key:             readability-identifier-naming.ScopedEnumConstantPrefix
  #- key:             readability-identifier-naming.ScopedEnumConstantSuffix
  #- key:             readability-identifier-naming.ScopedEnumConstantIgnoredRegexp
  #- key:             readability-identifier-naming.StaticConstantCase
  #- key:             readability-identifier-naming.StaticConstantPrefix
  #- key:             readability-identifier-naming.StaticConstantSuffix
  #- key:             readability-identifier-naming.StaticConstantIgnoredRegexp
  #- key:             readability-identifier-naming.StaticConstantHungarianPrefix
  #- key:             readability-identifier-naming.StaticVariableCase
  #- key:             readability-identifier-naming.StaticVariablePrefix
  #- key:             readability-identifier-naming.StaticVariableSuffix
  #- key:             readability-identifier-naming.StaticVariableIgnoredRegexp
  #- key:             readability-identifier-naming.StaticVariableHungarianPrefix
  #- key:             readability-identifier-naming.StructCase
  #- key:             readability-identifier-naming.StructPrefix
  #- key:             readability-identifier-naming.StructSuffix
  #- key:             readability-identifier-naming.StructIgnoredRegexp
  #- key:             readability-identifier-naming.TemplateParameterCase
  #- key:             readability-identifier-naming.TemplateParameterPrefix
  #- key:             readability-identifier-naming.TemplateParameterSuffix
  #- key:             readability-identifier-naming.TemplateParameterIgnoredRegexp
  #- key:             readability-identifier-naming.TemplateTemplateParameterCase
  #- key:             readability-identifier-naming.TemplateTemplateParameterPrefix
  #- key:             readability-identifier-naming.TemplateTemplateParameterSuffix
  #- key:             readability-identifier-naming.TemplateTemplateParameterIgnoredRegexp
  #- key:             readability-identifier-naming.TypeAliasCase
  #- key:             readability-identifier-naming.TypeAliasPrefix
  #- key:             readability-identifier-naming.TypeAliasSuffix
  #- key:             readability-identifier-naming.TypeAliasIgnoredRegexp
  #- key:             readability-identifier-naming.TypedefCase
  #- key:             readability-identifier-naming.TypedefPrefix
  #- key:             readability-identifier-naming.TypedefSuffix
  #- key:             readability-identifier-naming.TypedefIgnoredRegexp
  #- key:             readability-identifier-naming.TypeTemplateParameterCase
  #- key:             readability-identifier-naming.TypeTemplateParameterPrefix
  #- key:             readability-identifier-naming.TypeTemplateParameterSuffix
  #- key:             readability-identifier-naming.TypeTemplateParameterIgnoredRegexp
  #- key:             readability-identifier-naming.UnionCase
  #- key:             readability-identifier-naming.UnionPrefix
  #- key:             readability-identifier-naming.UnionSuffix
  #- key:             readability-identifier-naming.UnionIgnoredRegexp
  #- key:             readability-identifier-naming.ValueTemplateParameterCase
  #- key:             readability-identifier-naming.ValueTemplateParameterPrefix
  #- key:             readability-identifier-naming.ValueTemplateParameterSuffix
  #- key:             readability-identifier-naming.ValueTemplateParameterIgnoredRegexp
  #- key:             readability-identifier-naming.VariableCase
  #- key:             readability-identifier-naming.VariablePrefix
  #- key:             readability-identifier-naming.VariableSuffix
  #- key:             readability-identifier-naming.VariableIgnoredRegexp
  #- key:             readability-identifier-naming.VariableHungarianPrefix
  #- key:             readability-identifier-naming.VirtualMethodCase
  #- key:             readability-identifier-naming.VirtualMethodPrefix
  #- key:             readability-identifier-naming.VirtualMethodSuffix
  #- key:             readability-identifier-naming.VirtualMethodIgnoredRegexp

  - key:             readability-redundant-access-specifiers.CheckFirstDeclaration
    value:           '1'
...

