---
Language:                          Cpp
BasedOnStyle:                      LLVM
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations:   Yes
BreakConstructorInitializers:      BeforeComma
BreakInheritanceList:              BeforeComma
ConstructorInitializerIndentWidth: 2
PointerAlignment:                  Left
SpacesInContainerLiterals:         false
...
