---
Language:                          Cpp
BasedOnStyle:                      LLVM
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations:   Yes
BreakConstructorInitializers:      BeforeComma
BreakInheritanceList:              BeforeComma
ColumnLimit:                       0
PointerAlignment:                  Left
SpacesInContainerLiterals:         false
...

